---
# Will be installed with dracut-crypt-ssh
#- name: Install dracut
#  command: chroot /mnt/gentoo/ bash -c 'source /etc/profile; emerge dracut'
#  args:
#    creates: /mnt/gentoo/usr/bin/dracut

- name: Create accept_keywords for dracut-crypt-ssh
  copy:
    content: |
      =sys-kernel/dracut-crypt-ssh-1.0.6-r1 ~amd64
    dest: /mnt/gentoo/etc/portage/package.accept_keywords/dracut
  become: yes

- name: Install dracut-crypt-ssh
  command: chroot /mnt/gentoo/ bash -c 'source /etc/profile; emerge sys-kernel/dracut-crypt-ssh'
  args:
    creates: /mnt/gentoo/usr/lib64/dracut/modules.d/60crypt-ssh
  become: yes

- name: Check if openssh has bindist USE-flag
  command: chroot /mnt/gentoo/ bash -c 'source /etc/profile; emerge --info net-misc/openssh'
  register: ssh_bindist
  changed_when: False
  check_mode: no

- name: Recompile openssh
  command: chroot /mnt/gentoo/ bash -c 'source /etc/profile; emerge net-misc/openssh'
  when: not "-bindist" in ssh_bindist.stdout
  become: yes
  # Rebuild net-misc/openssh will also rebuild dev-libs/openssl
  # they are built with bindist use flag
  # dracut-dropbear wants to generate ecdsa keys
  # ecdsa has some patents on it, therefor it is disabled when bindist is enabled
  # https://forums.gentoo.org/viewtopic-t-901492-start-0.html

- name: Get linked version
  register: linked_kernel_version_src
  stat: 
    path: /mnt/gentoo/usr/src/linux
  changed_when: false
  check_mode: no

- name: Set facts
  set_fact:
    linked_kernel_version: "{{ linked_kernel_version_src.stat.lnk_source | regex_replace('^.*linux-', '') }}"

- debug:
    var: linked_kernel_version

# Need this before the initramfs is created also vital to login to the decrypted system
- name: Set authorized key for user root copying it from current user
  authorized_key:
    user: root
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
    path: /mnt/gentoo/root/.ssh/authorized_keys
  become: yes

- name: Create initramfs for {{ linked_kernel_version }}
  command: chroot /mnt/gentoo/ bash -c 'source /etc/profile; dracut --force --host-only --kver {{ linked_kernel_version }}'
  become: yes
